body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 2rem;
}

.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider input[type="radio"] {
    display: none;
}

.slider-wrap {
    padding: 2rem 0;
    background: #444;
}

.slider-img__wrap {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 2rem;
    overflow: hidden;
}

.slider-img {
    width: 100%;
    display: flex;
    transition: transform .3s ease-in-out;
}

.slider-img__slide {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-text__wrap {
    margin-right: 2rem;
    flex-grow: 1;
    overflow: hidden;
}

.slider-text {
    width: 100%;
    display: flex;
    transition: transform .6s ease-in-out;
}

.slider-text__slide {
    width: 100%;
    min-width: 100%;
    font-size: 1.5rem;
    color: white;
}

.slider-nav {
    display: flex;
}

.slider-nav__btn {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.slider-nav label {
    padding: 1rem;
    display: block;
    cursor: pointer;
    transition: transfrom 0.3s ease-in-out;
}

.slider-nav label:active {
    transform: scale(1.1);
}

@media screen and (hover: hover) {
    .slider-nav label:hover .slider-nav__btn {
        background-color: orange;
        border-color: orange;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .slider-wrap {
        padding: 1rem 0;
    }

    .slider-img__wrap {
        margin-bottom: 1rem;
        border-radius: 1rem;
        order: 1;
    }

    .slider-img__slide {
        padding-top: 100%;
    }

    .slider-text__wrap {
        order: 3;
    }

    .slider-nav {
        order: 2;
        margin: 0 auto 1rem;
    }

    .slider-text {
        width: 100%;
        margin: 0;
        order: 3;
    }
}

/* 
*
************************************************************************
*
* Slider's logic based on input[type="radio"] and label's for it with ID
*
************************************************************************
*
*/

/* 
********************
* Buttons switching
********************
*/

#slide-0:checked~.slider-nav [for="slide-0"] .slider-nav__btn,
#slide-1:checked~.slider-nav [for="slide-1"] .slider-nav__btn,
#slide-2:checked~.slider-nav [for="slide-2"] .slider-nav__btn,
#slide-3:checked~.slider-nav [for="slide-3"] .slider-nav__btn,
#slide-4:checked~.slider-nav [for="slide-4"] .slider-nav__btn {
    background-color: transparent;
    /* border-color: orange; */
}

/* 
********************
* Slider's switching
********************
*/

#slide-0:checked~.slider-img__wrap .slider-img,
#slide-0:checked~.slider-text__wrap .slider-text {
    transform: translateX(0%);
}

#slide-1:checked~.slider-img__wrap .slider-img,
#slide-1:checked~.slider-text__wrap .slider-text {
    transform: translateX(-100%);
}

#slide-2:checked~.slider-img__wrap .slider-img,
#slide-2:checked~.slider-text__wrap .slider-text {
    transform: translateX(-200%);
}

#slide-3:checked~.slider-img__wrap .slider-img,
#slide-3:checked~.slider-text__wrap .slider-text {
    transform: translateX(-300%);
}

#slide-4:checked~.slider-img__wrap .slider-img,
#slide-4:checked~.slider-text__wrap .slider-text {
    transform: translateX(-400%);
}